.profile-image{
    width: 100%;
    height: 75%;
    margin-left: 15px;
}

.profile-image > img{
    height: 90%;
}

.profile-info{
    width: 100%;
    height: 60%;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 65px;
}