<mat-grid-list cols="4" rowHeight="49%">
    <mat-grid-tile>
        <mat-card class="profile-image">
            <img mat-card-image [src]="this.auth.user.ava.link">
            <mat-card-actions>
                <button mat-button>
                    <mat-icon>insert_photo</mat-icon>
                    Update
                </button>
            </mat-card-actions>
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile colspan="3">
        <mat-card class="profile-info">
            <mat-card-title style="font-size: 30px;">
                {{ this.user.login }}
            </mat-card-title>
            <mat-card-subtitle>
                {{ this.user.name }}
            </mat-card-subtitle>
            <mat-card-content>
                Phone: {{ this.user.phone }}
            </mat-card-content>
            <mat-card-content>
                Email: <a>{{ this.user.email }}</a>
            </mat-card-content>
            <mat-card-actions>
                <button mat-button>
                    <mat-icon>
                        people
                    </mat-icon>
                    {{ this.user.contacts.length}}
                </button>
            </mat-card-actions>
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
        4
    </mat-grid-tile>
</mat-grid-list>
    