<mat-toolbar *ngIf="!this.auth.isAuth">
        <mat-icon>polymer</mat-icon>
        ingularity
</mat-toolbar>
<mat-toolbar *ngIf="this.auth.isAuth">
    <mat-icon>polymer</mat-icon>
    <button mat-button style="height: 100%; width: 10%;">
        <img [src]="this.auth.user.ava.link" height="100%" width="60px">
        {{ this.auth.user.login }}
    </button>
</mat-toolbar>
<mat-sidenav-container style="width: 100%; height: 93.2%;">
    <mat-sidenav opened mode="side" style="width: 25%;">
        <mat-list role="list" *ngIf="this.auth.isAuth">
            <mat-list-item role="listitem">
                <button mat-button routerLink="/profile/{{this.auth.user.id}}">
                    <mat-icon>
                        home
                    </mat-icon>
                    My page
                </button>
            </mat-list-item>
            <mat-list-item role="listitem">
                <button mat-button routerLink="/messages">
                    <mat-icon>
                        message
                    </mat-icon>
                    My messages
                </button>
            </mat-list-item>
            <mat-list-item role="listitem">
                    <button mat-button routerLink="/contacts">
                        <mat-icon>
                            contacts
                        </mat-icon>
                        My contacts
                    </button>
                </mat-list-item>
        </mat-list>
    </mat-sidenav>
    <mat-sidenav opened mode="side" position="end" style="width: 25%;">
    </mat-sidenav>
    <router-outlet></router-outlet>
</mat-sidenav-container>