<mat-grid-list cols="1" rowHeight="60%">
    <mat-grid-tile>
        <form [formGroup]="registerForm">
            <mat-list role="list">
                <mat-list-item role="listitem">
                    <mat-form-field>
                        <input matInput formControlName="email" type="email" required placeholder="email">
                    </mat-form-field>
                </mat-list-item>
                <mat-list-item role="listitem">
                    <mat-form-field>
                        <input matInput formControlName="login" required placeholder="login">
                    </mat-form-field>
                </mat-list-item>
                <mat-list-item role="listitem">
                        <mat-form-field>
                            <input matInput formControlName="name" required placeholder="name">
                        </mat-form-field>
                    </mat-list-item>
                <mat-list-item role="listitem">
                    <mat-form-field>
                        <input matInput formControlName="phone" required placeholder="phone">
                    </mat-form-field>
                </mat-list-item>
                <mat-list-item role="listitem">
                    <mat-form-field>
                        <input matInput formControlName="password" required type="password" placeholder="password">
                    </mat-form-field>
                </mat-list-item>
                <mat-list-item role="listitem">
                    <button mat-button (click)="register()">
                        Register
                        <mat-icon>
                            tag_faces
                        </mat-icon>
                    </button>
                </mat-list-item>
            </mat-list>
        </form>
    </mat-grid-tile>
</mat-grid-list>
